Lead Capture Automation.json
{
  "name": "Lead Capture Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Client Onboarding Form",
        "formDescription": "Please fill out the required information below to help us get started. This will allow us to tailor our services and ensure a smooth onboarding experience.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Your full name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "placeholder": "Email Address",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Name",
              "placeholder": "Your company or organization name",
              "requiredField": true
            },
            {
              "fieldLabel": "Services Needed",
              "fieldType": "textarea",
              "placeholder": "What services are you interested in?",
              "requiredField": true
            },
            {
              "fieldLabel": "Additional Onboarding Information",
              "fieldType": "textarea",
              "placeholder": "Any other details or special requirements we should know about"
            },
            {
              "fieldLabel": "Preferred Contact Method",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Email"
                  },
                  {
                    "option": "WhatsApp"
                  },
                  {
                    "option": "Slack"
                  },
                  {
                    "option": "Phone"
                  },
                  {
                    "option": "Other"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1296,
        624
      ],
      "id": "e141fd7f-e453-466f-88d8-ac8bab7ed1a9",
      "name": "On form submission",
      "webhookId": "d72bc372-ec8c-4706-b2ff-6186d8d79b96"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1088,
        800
      ],
      "id": "0891b9f2-44a2-48c5-b76b-92ae2bfa5acf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NchtBD6sEH0vCYg4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"Your 2-3 line lead summary here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -896,
        800
      ],
      "id": "bb243c76-ab3d-4a51-807d-a70c884630a4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yj-CRLMC96STCivFEX89PqjuA6ITEc3TY4VlZL7CdTE",
          "mode": "list",
          "cachedResultName": "My Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yj-CRLMC96STCivFEX89PqjuA6ITEc3TY4VlZL7CdTE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yj-CRLMC96STCivFEX89PqjuA6ITEc3TY4VlZL7CdTE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $('On form submission').item.json[\"Email Address\"] }}",
            "Full Name": "={{ $('On form submission').item.json[\"Full Name\"] }}",
            "Company Name": "={{ $('On form submission').item.json[\"Company Name\"] }}",
            "Additional Onboarding Information": "={{ $('On form submission').item.json[\"Additional Onboarding Information\"] }}",
            "Services Needed": "={{ $('On form submission').item.json[\"Services Needed\"] }}",
            "Preferred Contact Method": "={{ $('On form submission').item.json[\"Preferred Contact Method\"] }}",
            "Created At": "={{ $now.format('yyyy-MM-dd') }}",
            "Lead Summary": "={{ $('Lead Summary').item.json.output.summary }}"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Services Needed",
              "displayName": "Services Needed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Additional Onboarding Information",
              "displayName": "Additional Onboarding Information",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preferred Contact Method",
              "displayName": "Preferred Contact Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Summary",
              "displayName": "Lead Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -496,
        624
      ],
      "id": "25897c37-b113-442e-a0b6-a644e8fd5c17",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "puIDvD1AGruBiW0E",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Lead information:\n\n1. Full Name: {{ $('On form submission').item.json['Full Name'] }}\n2. Email Address: {{ $('On form submission').item.json['Email Address'] }}\n3. Company Name: {{ $('On form submission').item.json['Company Name'] }}\n4. Services Needed: {{ $('On form submission').item.json['Services Needed'] }}\n5. Additional Onboarding Information: {{ $('On form submission').item.json['Additional Onboarding Information'] || 'no additional information provided' }}\n6. Preferred Contact Method: {{ $('On form submission').item.json['Preferred Contact Method'] }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a helpful AI assistant specialized in summarizing new client leads for business intake.\n\nPlease do the following based only on the information I provide in my prompt:\n\n- Write a concise 2-3 line summary describing who the lead is and what they want. Use a clear and professional tone.\n\n\nReturn your response in valid JSON format as follows:\n\n{\n  \"summary\": \"Your 2-3 line lead summary here\"\n}\n\nDo not add anything beyond the JSON object. Use only the information provided. Do not make assumptions or add commentary."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1072,
        624
      ],
      "id": "779efdbb-f013-4e41-abc6-2d6312f0815b",
      "name": "Lead Summary",
      "executeOnce": false
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json[\"Email Address\"] }}",
        "subject": "=Welcome to Fuzion Tech, {{ $('On form submission').item.json[\"Full Name\"] }}! Let’s Get Started",
        "emailType": "text",
        "message": "=Hi {{ $('On form submission').item.json['Full Name'] }},\n\nThank you for choosing Fuzion Tech and sharing your needs with us. We are excited to partner with you and support {{ $('On form submission').item.json['Company Name'] }} in achieving your goals, especially around {{ $('On form submission').item.json['Services Needed'] }}.\n\nBased on the information you provided, we look forward to delivering tailored solutions that fit your unique needs. If you have any additional questions or details to share, please don’t hesitate to reach out.\n\nYour preferred contact method ({{ $('On form submission').item.json['Preferred Contact Method'] }}) is noted, and a member of our team will be in touch shortly to guide you through the next steps.\n\nWelcome aboard! We’re here to help every step of the way.\n\nBest regards,\nNebeyou Musie\nFounder\nFuzion Tech",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -720,
        624
      ],
      "id": "7b025a4b-bcc1-49e7-a0b4-52a6f8a69671",
      "name": "Send Email to Lead",
      "webhookId": "8f37478c-eecf-4061-9bf1-2b602e4f3981",
      "credentials": {
        "gmailOAuth2": {
          "id": "sGGs6j9IqZ5eRl4L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "nebeyoumusie@gmail.com",
        "subject": "=New Lead Added: {{ $json[\"Full Name\"] }} from {{ $json[\"Company Name\"] }}",
        "emailType": "text",
        "message": "=Hi Team,\n\nA new lead has just been added to our system. Here are the key details:\n\n  - Name: {{ $json['Full Name'] }}\n  - Email: {{ $json['Email Address'] }}\n  - Company: {{ $json['Company Name'] }}\n  - Services Needed: {{ $json['Services Needed'] }}\n  - Additional Info: {{ $json['Additional Onboarding Information'] }}\n  - Preferred Contact Method: {{ $json['Preferred Contact Method'] }}\n  - Lead Summary: {{ $json[\"Lead Summary\"] }}\n\nYou can access and track all leads in the shared Google Sheet here: https://docs.google.com/spreadsheets/d/1yj-CRLMC96STCivFEX89PqjuA6ITEc3TY4VlZL7CdTE/edit?usp=sharing\n\nPlease review the lead and follow up accordingly to maximize our engagement opportunities.\n\nBest regards,\nNebeyou Musie\nFounder\nFuzion Tech",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -272,
        624
      ],
      "id": "b840cbc8-1a46-4bc5-93eb-85718ab01fbf",
      "name": "Send Email to Team",
      "webhookId": "92b80044-6550-4d01-9302-c59ea56279f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "sGGs6j9IqZ5eRl4L",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Lead Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Lead Summary",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send Email to Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Summary": {
      "main": [
        [
          {
            "node": "Send Email to Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Lead": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03b69343-6703-46cd-a7bf-3711d7f40f5a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "840154ca8ff3822257170e4b1910defa5b76a2ee2e5b52ef94b6628e655db31a"
  },
  "id": "GhOApwABfB0qZoPB",
  "tags": []
}